/* src/styles/Home.module.css */
.main {
    padding: 2rem;
  }
  
  /* Example of basic CSS styles */
.home {
  font-family: Arial, sans-serif;
}

.hero {
  background-color: white;
  text-align: center;
  height: 90vh;
  display: flex;
  align-items: center;
}
.login{
  background-color: white;
  color: black;
  height: 10vh;
  text-align: end;
  padding: 10px;
}
.login a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
.login .navLink:hover {
  text-decoration: underline;
}
.hero h1{
  font-size: 90px;
  color: black;

}
.heroContent {
  max-width: 800px;
  margin: 0 auto;
  color: black;
  margin-bottom: 20vh;
}

.features {
  padding: 0px 20px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.features h2 {
  font-size: 2rem;
  margin: 40px 8rem ; 
  color: #007bff;
  
}

.featureGroup {
  margin-bottom: 40px;
  border: 3px solid #007bff;
}

.dropdownHeader {
  cursor: pointer;
  font-size: 1.8rem;
  margin: 10px;
}

.dropdownContent {
  list-style-type: none;
  padding-left: 0;
  margin: 5px;
}

.dropdownContent li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555555; /* Text color */
}
.dropdownIcon{
  margin-right: 10px;
}
/* Additional styles for Header and Footer components */

.signUpLogin {
  background-color: #ffffff;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.signUpLogin h2{
  font-size: 3rem;
  color: #007bff;
}
.signUpLogin p{
  font-size: 2rem;
  color: #007bff;
}

.join {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.joinLink {
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.joinLink:hover {
  background-color: #007bff;
  color: #ffffff;
}
.header{
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  justify-content: space-between;
}
.logo{
  color: black;
  text-decoration: none;

}
.logout{
  color: black;
  text-decoration: none;
}
.emptyContent{
  display: flex;
}

#input{
  width: 100%;
  background-color: #242424;
  height: 100px;
  border: 1px solid white;
  border-radius: 10px;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 5px;
}
#input:focus{
  border-color: #007bff;
  outline: none;
}
::placeholder{
color: rgba(255, 255, 255, 0.634);

}

.container {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Added for positioning */
}

.textAreaContainer {
  width: 50%;
  
  flex-direction: column;
  align-items: flex-end;
  padding: 2px;
}

.button {
  width: auto;
  margin-top: 5px;
  font-size: 15px;
}
.buttonContainer{
  display: flex;
  justify-content: flex-end;
}
.postsList{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post{
  background-color: #2b2a2a;
  padding: 5px 20px;
  margin: 10px 0 ;
  text-align: start;
  cursor: pointer; /* Change the cursor to pointer */
padding: 10px; /* Optional: add some padding for better click area */
margin-bottom: 10px; /* Optional: space between posts */
border-radius: 5px; /* Optional: rounded corners */
}
.post:hover {
  background-color: rgba(249, 249, 249, 0.131);
}
.like {
  width: 3%;
  height: 30px;
  padding: 0;
  margin: 0;
  background-color: #2b2a2a;
  font-size: 20px;
  border: none; /* Ensure there's no border */
}

.like:hover {
  background-color: #2b2a2a;
}

.like:focus {
  outline: none; /* Remove the outline when focused */
  box-shadow: none; /* Remove any potential box-shadow */
}

.metadata{
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}
.date{
  margin: 0;
  font-size: 20px;
}
.comment{
  font-size: 20px;

  padding: 5px 0 0 0;
  margin: 0 6px;
}
.commentLength{
  font-size: 20px;
  margin: 0 10px 0 0;
  
}

.likeCount{
  font-size: 20px;
  margin: 0 10px 0 0;
  
}


