.layout{
    display: flex;
    
}
.networkFeed{
    width: 55%;
    text-align: center;
    margin: 0 20px;
}
.recommendedPeople{
    background-color: #2a2a2a;
    width: 25%;
    padding: 10px;

    border-left: 2px solid #1c1c1c; /* Light border color */
    border-top: 2px solid #1c1c1c; /* Light border color */
    
}

.postsList{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .post{
    background-color: #2b2a2a;
    padding: 5px 20px;
    margin: 10px 0 ;
    text-align: start;
    cursor: pointer; /* Change the cursor to pointer */
  padding: 10px; /* Optional: add some padding for better click area */
  margin-bottom: 10px; /* Optional: space between posts */
  border-radius: 5px; /* Optional: rounded corners */
  }
  .post:hover {
    background-color: rgba(249, 249, 249, 0.131);
  }
  .like {
    width: 3%;
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: #2b2a2a;
    font-size: 20px;
    border: none; /* Ensure there's no border */
  }
  
  .like:hover {
    background-color: #2b2a2a;
  }
  
  .like:focus {
    outline: none; /* Remove the outline when focused */
    box-shadow: none; /* Remove any potential box-shadow */
  }
  
  .metadata{
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
  }
  .date{
    margin: 0;
    font-size: 20px;
  }
  .comment{
    font-size: 20px;
  
    padding: 5px 0 0 0;
    margin: 0 6px;
  }
  .commentLength{
    font-size: 20px;
    margin: 0 10px 0 0;
    
  }
  
  .likeCount{
    font-size: 20px;
    margin: 0 10px 0 0;
    
  }
  