.layout{
    display: flex;
    
}
.post{
    display: flex;
align-items: center;
    flex-direction: column;
    width: 100%;
}
.comments{
    width: 80%;

}
.comment{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.347);
    margin: 10px 0;
    padding: 5px;
}
.postDetail {
    width: 80%;
    margin-bottom: 10px;
    padding: 20px; /* Optional: Add padding for better spacing */
    border-radius: 8px; /* Optional: Add rounded corners */
}
#input{
    width: 100%;
    background-color: #242424;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 5px;
  }
  #input:focus{
    border-color: #007bff;
    outline: none;
  }
  ::placeholder{
  color: rgba(255, 255, 255, 0.634);
  
  }
.postDate{
    font-size: 15px;
    text-align: end;
}
.postContent{
    font-size: 20px;
}
.creatorName{
    margin: 0px;
}
.btns{
    display: flex;
    justify-content: end;
}
.replybtn{
    width: 100px;
    padding: 5px;
    background: none;
    border: none;
}
.replybtn:hover{
    color: #007bff;
    background: none;
}
.likebtn{
    width: 50px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}
.likebtn:hover{
    color: #007bff;
    background: none;
}
.commentLength{
    font-size: 20px;
    
  }

  
.showRepliesBtn{
    font-size: 25px;
    margin: 10px 0 0 0;
    padding-bottom: 5px;
    text-decoration: underline;
    
}
.showRepliesBtn:hover{
    color: #007bff;
    cursor: pointer;
}
.replybtncontainer{
    display: flex;
    width: 100%;
}